<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org">

<title>Recherche avancée</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
      ></script>
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Open Sans", sans-serif
    }
</style>
<style type="text/css">
    .c {
        color: white;
        background-color: #3B5998
    }
    
    .w {
        color: #3B5998
    }
    
    .d {
        color: black;
        background-color: #E9E8E9
    }
</style>

<body class="w3-theme-l5">

   <!-- Navbar -->
	
<!-- Navbar -->
	<div class="w3-top w3-theme">

		<div class="w3-row c  w3-left-align w3-large col-lg-12 ">
			<a
				class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"><em
				class="fa fa-bars"></em></a> <a href="/" class="pull-left"
				style="color: white"><div
					class="w3-bar-item w3-padding-large  w3-button">
					<em class="fa fa-glide w3-margin-right"></em>EMI-GATE
				</div></a>
				<select class="w3-left" name="choix" style="color:grey;margin-top:11px;"  form=form1>
						  <option value="Profils" style="color:grey;">Profeseur</option>
						  <option value="Publications" style="color:grey;">Offre</option>
						</select>

		  <span class="col-lg-4 col-sm-2 col-md-4" style="margin-top: 7px">
		  <form id="form1" class="input-group "  method="POST" action="search">
					<input type="text" name="rech" class="form-control" placeholder="Rechercher..."/>
					<span class="input-group-btn" >
						 
						<button class="btn btn-secondary" type="submit">
								<span class="glyphicon glyphicon-search"></span>
					</button>
					</span>
			
			  </form>
			  			
		  </span>
		
		
 
			  			<a href="/rechAv"><button style="margin-top: 7px"  class="btn" value="">
								Rechercher avancée
		  </button></a>
		  
		 
					
				


			<a href="../logout"
				class="w3-bar-item w3-button w3-right pull-right "
				style="font-size: 16px; margin-top: 5px; margin-right: 45px; border-color: #17233D; border-left-style: solid">Se
				déconnecter</a>


 <div class="w3-dropdown-hover  w3-hide-small pull-right ">
				<button class="w3-button w3-hover-white w3-padding-large g"
					title="Notifications">
					<i class="fa fa-bell"></i><span
						class="w3-badge w3-right w3-small w3-green">3</span>
				</button>
				<div class="w3-dropdown-content dropdown-menu dropdown-menu-left w3-card-4 w3-bar-block "
					style="width: 280px"  id="getNot" >
 					<div id="getResultDiv">
 						<span class="list-group" >
 						</span>
 						
                    </div>

	  </div>
			</div>
<a
				href="/cv"
				class=" w3-button w3-hide-small w3-padding-large w3-hover-white pull-right"
				title="Mon profil"><em class="fa fa-user"></em></a>


		</div>
	</div>
		<!-- Navbar on small screens -->
	<div id="navDemo"
		class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">My
			Profile</a>
	</div>
	


   
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width: 1400px; margin-top: 80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
             <!-- Profile -->
   <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center" th:text="${utilisateur.nom}+' '+${utilisateur.prenom}"></h4>
          <p class="w3-center"><img th:src="'files/'+${utilisateur.img}" style="height:106px;width:106px" alt="Avatar"/></p>
         <hr/>
         <p><em class="fa fa-pencil fa-fw w3-margin-right w"  ></em><span th:text="${utilisateur.genie}" ></span></p>
         <p><em class="fa fa-home fa-fw w3-margin-right w" ></em><span th:text="${utilisateur.adresse}" ></span></p>
         <p><em class="fa fa-birthday-cake fa-fw w3-margin-right w"></em> <span th:text="${utilisateur.dateNaissance}" ></span> </p>
        </div>
      </div>
      <!-- fin Profile -->
                <br />

                <!-- Accordion -->
                <div class="w3-card-2 w3-round">
                    <div class="w3-white">
                        <div id="Demo1" class="w3-hide w3-container">
                            <p>Some text..</p>
                        </div>
                        <div id="Demo2" class="w3-hide w3-container">
                            <p>Some other text..</p>
                        </div>
                        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-left-align c">
							<em class="fa fa-users fa-fw w3-margin-right"></em>Mes étudiants & Mes Profeseurs<em class="fa fa-caret-down w3-margin-left"
								style="margin-right: auto"></em>
						</button>
                        <div id="Demo3" class="w3-hide w3-container">
                            <div class="w3-row-padding">
                                <br />
                               
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!-- Interests --> <br />

                <!-- Alert Box -->
                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m7">
                <div class="w3-container w3-card-2 w3-white w3-round w3-margin" th:each="publication : ${publications}">
                   
                    <!-- resultats de la rechercher -->

               

                        <div class="w3-margin col-lg-11">
                    
                            <section class="search-result-item">
                                
                                <div class="search-result-item-body">
                                    <div class="row">
                                        <div>
                                             <h3 class="description" th:text="${publication.key.body}"> </h3>

                                            <h4 class="search-result-item-heading">
                                                <p  th:text="${publication.key.title}"></p>
                                            </h4>
                                           
                                            <p class="info" th:text="${publication.key.date}"></p>
                                            
                                            <a class="image-link" href="#"><img class="image" style="width: 500px;" th:src="'fichiers/'+${publication.key.img}" />
                                    <!--  -->
                                </a><br/>
                                           	<button th:onclick="'javascript:myFunctio(' + ${publication.key.id} + ')'" type="button" class="w3-button w3-margin-bottom c w3-left"><em class="fa fa-comment"></em> Postuler</button> 

                                        </div>

                                    </div>
                                </div>
                            </section>

  <script>   
         function myFunctio(id) {
	    document.getElementById(id).style.display = "block";
     
	}
         function myFunctiod(id) {
     	    document.getElementById(id).style.display = "none";
          
     	}
         </script>
      
      
      <!-- Modal that pops up when you click on "New Message" -->
<div th:id="${publication.key.id}" class="w3-modal" style="z-index:4">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-padding c">
       <span th:onclick="'javascript:myFunctiod(' + ${publication.key.id} + ')'"
       class="w3-button c w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
      <h2>Nouveau message</h2>
      
    </div>
    <div class="w3-panel">
     <form  id="sendform" method="post" th:action="sendmail" >
    
      <label >A</label>
      <input name="a" id="a" th:value="${publication.value.email}" class="w3-input w3-border w3-margin-bottom" type="text" ></input>
      <label  >Sujet</label>
      <input name="sujet" id="sujet" class="w3-input w3-border w3-margin-bottom" type="text">
      <input name="message" id="message" class="w3-input w3-border w3-margin-bottom" style="height:150px" placeholder="Message...">
      <div class="w3-section">
        <a class="w3-button c" th:onclick="'javascript:myFunctiod(' + ${publication.key.id} + ')'">Annuler  <i class="fa fa-remove"></i></a>
        <button type="submit" onclick="myFct()" name="go" class=" w3-button c w3-right ">envoyer<i class="fa fa-paper-plane"></i></button>
        
    <!--    <a  href="/sendmail" class="w3-button c w3-right"> Envoyer <i class="fa fa-paper-plane"></i></a>    -->
      </div>  
      	</form>	
        
    </div>
  </div>
</div>

                        </div>



                      
                        <p th:if="${publications==null and profils==null}" th:text="Aucun résultat n'est trouvé"></p>



                    <!-- fin resultats de la rechercher-->
                    <!-- End Middle Column -->
                </div>

                <!-- End Middle Column -->
            </div>


            <!-- Right Column -->
                    <!-- Right Column -->
             <div class="w3-col m2">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <div th:each="friend : ${fri}">

						<img th:src="'files/'+${friend.key.img}" alt="Avatar"
							style="width: 50%"><br><span th:text="${friend.getValue()}"></span> <br>
						<div class="w3-row ">
							<div class="w3-half">
								<form method="post" th:action="accept">
									<input type="hidden" name="idd" th:value="${friend.getKey()}" />
									<button class="w3-button w3-block  c w3-section" title="Accept"
										type="submit">Confirmer</button>
								</form>
							</div>
							<div class="w3-half">
								<form method="post" th:action="decline">
									<input type="hidden" name="idd" th:value="${friend.getKey()}" />
									<button class="w3-button w3-block  d w3-section"
										title="Decline" type="submit">Refuser</button>
								</form>
							</div>
						</div>
					</div>
        </div>
      
	  
	  
      
     
      </div>
      <br/>
      <br/>
      <!-- End Right Column -->
    </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <br />

    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className = x.previousElementSibling.className
                    .replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</body>

</html>