<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org">

<title>Acceuil</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="../css/css1.css" />
<link rel="stylesheet" type="text/css" href="../css/css2.css" />
<!-- police -->
<link rel="stylesheet" type="text/css" href="../css/css3.css" />
<link rel="stylesheet" href="../css/font/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Open Sans", sans-serif
}
</style>
<style type="text/css">
.c {
	color: white;
	background-color: #3B5998
}

.w {
	color: #3B5998
}

.d {
	color: black;
	background-color: #E9E8E9
}

textarea {
	resize: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile+label {
	font-size: 1em;
	font-weight: 500;
	color: white;
	background-color: #3B5998;
	size: 20px;
	margin-top: 3px;
}

.inputfile:focus+label, .inputfile+label:hover {
	background-color: #3B5998;
}

.inputfile+label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus+label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
</style>

<body class="w3-theme-l5">

	<div class="w3-top w3-theme">

		<div class="w3-row c  w3-left-align w3-large col-lg-12 ">
			<a
				class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"><em
				class="fa fa-bars"></em></a> <a href="acceuil.html" class="pull-left"
				style="color: white"><div
					class="w3-bar-item w3-padding-large  w3-button">
					<em class="fa fa-glide w3-margin-right"></em>EMI-GATE
				</div></a>



			<div class="col-lg-4 col-sm-2 col-md-4" style="margin-top: 7px">
				<form id="form1" class="input-group " method="POST" action="search">

					<input type="text" name="rech" class="form-control"
						placeholder="Rechercher..." /> <span class="input-group-btn">

						<button class="btn btn-secondary" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>



				</form>

			</div>
			<select name="choix" style="color: grey; margin-top: 11px;"
				form=form1>
				<option value="Profils" style="color: grey;">Profils</option>
				<option value="Publications" style="color: grey;">Publications</option>
			</select> <a href="/rechAv"><button class="btn btn-secondary" value="">
					Rech av..</button></a> <a href="../index.html"
				class="w3-bar-item w3-button w3-right pull-right "
				style="font-size: 16px; margin-top: 5px; margin-right: 45px; border-color: #17233D; border-left-style: solid">Se
				déconnecter</a>


			<div class="w3-dropdown-hover  w3-hide-small pull-right ">
				<button class="w3-button w3-hover-white w3-padding-large"
					title="Notifications">
					<i class="fa fa-bell"></i><span
						class="w3-badge w3-right w3-small w3-green">3</span>
				</button>
				<div
					class="w3-dropdown-content dropdown-menu dropdown-menu-left w3-card-4 w3-bar-block "
					style="width: 280px">
					<a href="#" class="w3-bar-item w3-button w3-border-bottom">Miloudi
						a commenté une publication </a> <a href="#"
						class="w3-bar-item w3-button w3-border-bottom">Amine a publié
						une photo</a> <a href="#"
						class="w3-bar-item w3-button w3-border-bottom ">Achoukhan a
						publié une annonce</a> <a href="#"
						class="w3-bar-item w3-button w3-border-bottom ">Ayoub a
						commenté votre publication</a> <a href="#"
						class="w3-bar-item  w3-center w3-border-top" style="color: blue">Voir
						tout</a>
				</div>
			</div>
			<a href="../mail/mail.html"
				class=" w3-button w3-hide-small w3-padding-large w3-hover-white pull-right"
				title="Messages"><em class="fa fa-envelope"></em></a> <a
				href="../cv/cv.html"
				class=" w3-button w3-hide-small w3-padding-large w3-hover-white pull-right"
				title="Mon profil"><em class="fa fa-user"></em></a>


		</div>
	</div>

	<!-- Navbar on small screens -->
	<div id="navDemo"
		class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
		<a href="#" class="w3-bar-item w3-button w3-padding-large">My
			Profile</a>
	</div>



	<!-- Page Container -->
	<div class="w3-container w3-content"
		style="max-width: 1400px; margin-top: 80px">
		<!-- The Grid -->
		<div class="w3-row">
			<!-- Left Column -->
			<div class="w3-col m3">
				<!-- Profile -->
				<div class="w3-card-2 w3-round w3-white">
					<div class="w3-container">
						<h4 class="w3-center">Ayoub Bennouna</h4>
						<p class="w3-center">
							<img src="img/123.png" style="height: 106px; width: 106px"
								alt="Avatar" />
						</p>
						<hr />
						<p>
							<em class="fa fa-pencil fa-fw w3-margin-right w"></em>Etudiant
						</p>
						<p>
							<em class="fa fa-home fa-fw w3-margin-right w"></em> Rabat,Agdal
						</p>
						<p>
							<em class="fa fa-birthday-cake fa-fw w3-margin-right w"></em> Mai
							18, 1995
						</p>
					</div>
				</div>
				<br />

				<!-- Accordion -->
				<div class="w3-card-2 w3-round">
					<div class="w3-white">
						<div id="Demo1" class="w3-hide w3-container">
							<p>Some text..</p>
						</div>
						<div id="Demo2" class="w3-hide w3-container">
							<p>Some other text..</p>
						</div>
						<button onclick="myFunction('Demo3')"
							class="w3-button w3-block w3-left-align c">
							<em class="fa fa-users fa-fw w3-margin-right"></em>Mon Cercle
							d'amis<em class="fa fa-caret-down w3-margin-left"
								style="margin-right: auto"></em>
						</button>
						<div id="Demo3" class="w3-hide w3-container">
							<div class="w3-row-padding">
								<br />
								<div class="w3-half">
									<img src="img1.png" style="width: 80%" class="w3-margin-bottom" />
								</div>
								<div class="w3-half">
									<img src="img/1.png" style="width: 80%"
										class="w3-margin-bottom" />
								</div>
								<div class="w3-half">
									<img src="img/1.png" style="width: 80%"
										class="w3-margin-bottom" />
								</div>
								<div class="w3-half">
									<img src="img/1.png" style="width: 80%"
										class="w3-margin-bottom" />
								</div>
								<div class="w3-half">
									<img src="img/1.png" style="width: 80%"
										class="w3-margin-bottom" />
								</div>
								<div class="w3-half">
									<img src="img/1.png" class="w3-margin-bottom"
										style="width: 80%" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<br />

				<!-- Interests -->
				<div class="w3-card-2 w3-round w3-white w3-hide-small">
					<div class="w3-container">
						<p>Compétences</p>
						<p>
							<span class="w3-tag w3-small w3-theme-d5">Java EE</span>&nbsp;<span
								class="w3-tag w3-small w3-theme-d3">Python</span>&nbsp;<span
								class="w3-tag w3-small w3-theme-d2">.Net</span> <span
								class="w3-tag w3-small w3-theme-d1">Angular JS</span>&nbsp;<span
								class="w3-tag w3-small w3-theme">JS</span>&nbsp;<span
								class="w3-tag w3-small w3-theme-l1">C#</span>&nbsp;<span
								class="w3-tag w3-small w3-theme-l2">PHP</span>&nbsp;
						</p>
					</div>
				</div>
				<br />

				<!-- Alert Box -->
				<!-- End Left Column -->
			</div>

			<!-- Middle Column -->
			<div class="w3-col m7">

				<div class="w3-row-padding">
					<div class="w3-col m12">
						<div class="w3-card-2 w3-round w3-white">
							<div class="w3-container w3-padding">
								<form method="post" action="/AjouterPublication"
									enctype="multipart/form-data">
									<textarea class="w3-col lg-7 " style="height: 40px"
										placeholder="Description.." name="title"> </textarea>
									<br />
									<button type="submit" class="w3-button c"
										style="size: 20px; margin-top: 3px">
										<em class="fa fa-pencil"></em>Publier
									</button>
									<input type="file" name="file" id="file" class="inputfile"
										style="size: 20px; margin-top: 3px" /> <label for="file"><svg
											xmlns="http://www.w3.org/2000/svg" width="20" height="17"
											viewBox="0 0 20 17">
											<path
												d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg>Ajouter
										image</label> <input type="radio" name="body" value="Offre d'emplois">
									Offre d'emplois </input> <input type="radio" name="body"
										value="Offre de stage"> Offre de stage</input>
								</form>
							</div>
						</div>
					</div>
				</div>





				<section>

					<script>
					
						function loadXMLDoc(filename) {
							if (window.ActiveXObject) {
								xhttp = new ActiveXObject("Msxml2.XMLHTTP");
							} else {
								xhttp = new XMLHttpRequest();
							}
							xhttp.open("GET", filename, false);
							try {
								xhttp.responseType = "msxml-document"
							} catch (err) {} // Helping IE11
							xhttp.send("");
							return xhttp.responseXML;
						}
					
						function displayResult() {
							xml = loadXMLDoc("http://www.lequipe.fr/rss/actu_rss_Basket.xml");
							xsl = loadXMLDoc("index.xsl");
							// code for IE
							if (window.ActiveXObject || xhttp.responseType == "msxml-document") {
								ex = xml.transformNode(xsl);
								document.getElementById("example").innerHTML = ex;
							}
							// code for Chrome, Firefox, Opera, etc.
							else if (document.implementation && document.implementation.createDocument) {
								xsltProcessor = new XSLTProcessor();
								xsltProcessor.importStylesheet(xsl);
								resultDocument = xsltProcessor.transformToFragment(xml, document);
								document.getElementById("example").appendChild(resultDocument);
							}
						}
					</script>
 					<div onload="displayResult()"></div>
						<div id="example" >
						</div>
				</section>





















				<!-- End Middle Column -->
			</div>

			<!-- Right Column -->
			<div class="w3-col m2">
				<div class="w3-card-2 w3-round w3-white w3-center">
					<div class="w3-container">
						<p class="w3-border-bottom ">Demandes d'ajout</p>
						<img src="img/125.png" alt="Avatar" style="width: 50%" /><br />Yassine<br />

						<div class="w3-row">
							<div class="w3-row ">
								<div class="w3-half">
									<button class="w3-button w3-block c w3-section" title="Accept">Confirmer</button>
								</div>
								<div class="w3-half">
									<button class="w3-button w3-block  d w3-section"
										title="Decline">Rejeter</button>
								</div>
							</div>
						</div>
					</div>




					<div class="w3-container">

						<img src="img/127.png" alt="Avatar" style="width: 50%" /><br />Achraf<br />
						<div class="w3-row ">
							<div class="w3-half">
								<button class="w3-button w3-block c w3-section" title="Accept">Confirmer</button>
							</div>
							<div class="w3-half">
								<button class="w3-button w3-block  d w3-section" title="Decline">Rejeter</button>
							</div>
						</div>
					</div>
				</div>
				<br /> <br />
				<!-- End Right Column -->
			</div>

			<!-- End Grid -->
		</div>

		<!-- End Page Container -->
	</div>
	<br />

	<!-- Footer -->

	<footer class="w3-container w3-theme-d5"></footer>

	<script>
		// Accordion
		function myFunction(id) {
			var x = document.getElementById(id);
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
				x.previousElementSibling.className += " w3-theme-d1";
			} else {
				x.className = x.className.replace("w3-show", "");
				x.previousElementSibling.className = x.previousElementSibling.className.replace(" w3-theme-d1", "");
			}
		}
	
		// Used to toggle the menu on smaller screens when clicking on the menu button
		function openNav() {
			var x = document.getElementById("navDemo");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}
		//used to confirm post delete
		function ConfirmDelete() {
			var x = confirm("Voulez-vous vraiment supprimer cette publication?");
			if (x)
				return true;
			else
				return false;
		}
	</script>
</body>
</html>
